<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Kies uit een van de onderstaande opties en plak deze met '/' achter de huidige url:</h2>
    <br>
    'D15-FA-1' 'P11-B' 'K14-FA-1C' 'A12-CPP' 'L9-FF-1' 'AWG-1' 'J6-A'
    <br>
    'HOORN-A' 'BUITENGAATS/BG-OHVS2' 'VOORSCHOTEN AWS' 'IJMUIDEN WP'
    <br>
    'TEXELHORS WP' 'DE KOOY VK' 'F3-FB-1' 'AMSTERDAM/SCHIPHOL AP' 'VLIELAND'
    <br>
    'WIJDENES WP' 'BERKHOUT AWS' 'TERSCHELLING HOORN AWS' 'WIJK AAN ZEE AWS'
    <br>
    'HOUTRIBDIJK WP' 'DE BILT AWS' 'STAVOREN AWS' 'LELYSTAD AP' 'LEEUWARDEN'
    <br>
    'MARKNESSE AWS' 'DEELEN' 'LAUWERSOOG AWS' 'HEINO AWS' 'HOOGEVEEN AWS'
    <br>
    'GRONINGEN AP EELDE' 'HUPSEL AWS' 'NIEUW BEERTA AWS' 'TWENTHE AWS'
    <br>
    'VLISSINGEN AWS' 'BORSSELE ALPHA' 'WESTDORPE AWS' 'WILHELMINADORP AWS'
    <br>
    'HOEK VAN HOLLAND AWS' 'WOENSDRECHT' 'ROTTERDAM GEULHAVEN'
    <br>
    'ROTTERDAM THE HAGUE AP' 'CABAUW TOWER AWS' 'HERWIJNEN AWS'
    <br>
    'EINDHOVEN AP' 'VOLKEL' 'ELL AWS' 'MAASTRICHT AACHEN AP' 'ARCEN AWS'
    <br>
    'JUANCHO E. YRAUSQUIN AIRPORT  SABA'
    <br>
    'F.D. ROOSEVELT AIRPORT ST. EUSTATIUS' 'FLAMINGO AIRPORT BONAIRE'
   
</body>
</html>