<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Weerbericht:</h3>
    {{returnlist[0]}}
    <br>
    {{returnlist[1]}}
    <br>
    {{returnlist[2]}}
    <br>
    {{returnlist[3]}}
    <br>
    {{returnlist[4]}}
    <br>
    <br>
    <h3>Weerstatus op dit moment:</h3>
    {{returnlist[5]}}
    <br>
    {{returnlist[6]}}
    <br>
    {{returnlist[7]}}
    <br>
    {{returnlist[8]}}
    <br>
    {{returnlist[9]}}
</body>
</html>